body{
    background-color: rgb(225, 246, 244);
    display: block;
    margin-left: 200px;
    margin-right: 200px;
}

h1 p{
    font-size: 60px;
}

h2 p{
    display: block;
    margin-top: 200px;
    font-size: 50px;
}

h3 {
    display: block;
    margin-top: 60px;
    font-size: 40px;
}

dd, p,  dt, .aboutme{
    font-size: 25px;
}

.contacts{
    display: block;
    margin-left: 350px;
}


.contacts dt, dd{
    display: block;
    margin-top: 55px;
    font-size: 30px;
}

div.scils {
    display: flexbox;
}

.scils dl dd {
    font-size: 25px;
    color: rgb(2, 13, 4);
}

.scils dl{
    flex: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hadrsils{
    order: 1;
    flex: 30%;
}

.softsils{
    order: 2;
    flex: 30%;
}